---
const { postPrevious, postNext } = Astro.props;

function isNumericString(string: string) {
  return string.match(/^[\d.]+$/);
}

function getTitleClassList(slug: string) {
  return [{ 'break-word': isNumericString(slug) }];
}
---

<nav>
  {
    postPrevious ? (
      <a href={`/blog/${postPrevious.slug}`} class="post-link previous">
        <span class="arrow">←</span>
        <span class="link-text">
          Previous post
          <small class:list={getTitleClassList(postPrevious.slug)}>
            {postPrevious.data.title}
          </small>
        </span>
      </a>
    ) : null
  }

  {
    postNext ? (
      <a href={`/blog/${postNext.slug}`} class="post-link next">
        <span class="link-text">
          Next post
          <small class:list={getTitleClassList(postNext.slug)}>
            {postNext.data.title}
          </small>
        </span>
        <span class="arrow">→</span>
      </a>
    ) : null
  }
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-block: var(--space-medium);

    &:not(:has(.previous.post-link)) {
      justify-content: flex-end;
    }
  }

  .post-link {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;

    &.next {
      justify-content: flex-end;
      text-align: right;
    }
  }

  .link-text {
    display: flex;
    flex-direction: column;
  }

  .arrow {
    font-size: x-large;
  }
</style>
