---
import { config } from '@config';

const { title, metaDesc, socialImage } = Astro.props;

const { name, shortDesc, paymentPointer } = config;
const pageTitle = title ? `${title} - ${name}` : name;
const currentUrl = Astro.url;
const pageDesc = shortDesc ?? metaDesc;
---

<!-- TODO tag meta title --><!-- {% if metaTitle == 'Tag' %}
  {% set metaTitle = '' %}
  {% set title = 'Posts tagged #' + tag %}
{% endif %} -->
<title>{pageTitle}</title>
<link rel="canonical" href={currentUrl} />

<meta property="og:site_name" content={name} />
<meta property="og:title" content={pageTitle} />
<meta property="og:type" content="website" />
<meta property="og:url" content={currentUrl} />
<meta property="twitter:url" content={currentUrl} />
<meta property="twitter:site" content={name} />
<meta name="twitter:creator" content={`@${config.author.twitter}`} />

<meta name="description" content={pageDesc} />
<meta name="twitter:description" content={pageDesc} />
<meta property="og:description" content={pageDesc} />

{
  socialImage ? (
    <>
      <meta name="twitter:card" content="summary_large_image" />
      <meta property="og:image" content={socialImage} />
      <meta name="twitter:image" content={socialImage} />
      <meta property="og:image:alt" content={`Page image for ${pageTitle}`} />
      <meta name="twitter:image:alt" content={`Page image for ${pageTitle}`} />
    </>
  ) : (
    <>
      <meta property="og:image" content="/cover.png" />
      <meta name="twitter:image" content="/cover.png" />
    </>
  )
}

<meta name="twitter:card" content="summary_large_image" />

<meta name="monetization" content={paymentPointer} />
