---
import { getCollection } from 'astro:content';
import PostItem from './PostItem.astro';
import { Debug } from 'astro:components';

const { numPosts, posts } = Astro.props;

const allPosts = await getCollection('blog');
allPosts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
const postList = posts || allPosts;
---

<!-- <Debug {postList} /> -->{
  postList.length ? (
    <section>
      <ol reversed start={postList.length}>
        {postList
          .reverse()
          .slice(numPosts)
          .reverse()
          .map(({ slug, data }) => {
            const { title, date } = data;

            return (
              <>
                <PostItem {slug} {title} {date} />
              </>
            );
          })}
      </ol>
    </section>
  ) : (
    <h1>NO POSTS</h1>
  )
}
