---
import { getCollection } from 'astro:content';
import PostItem from './PostItem.astro';
import { Debug } from 'astro:components';

const { numPosts } = Astro.props;

const posts = await getCollection('blog');
posts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
---

<!-- <Debug {posts} /> -->{
  posts.length ? (
    <section>
      <ol reversed start={posts.length}>
        {posts
          .reverse()
          .slice(numPosts)
          .reverse()
          .map(({ slug, data }, i) => {
            const { title, date } = data;

            return (
              <>
                {i === 0 ? null : <hr />}
                <PostItem {slug} {title} {date} />
              </>
            );
          })}
      </ol>
    </section>
  ) : (
    <h1>NO POSTS</h1>
  )
}
