---
import PageLayout from './PageLayout.astro';
import DateDisplay from '@components/DateDisplay.astro';
import PostNavigation from '@components/PostNavigation.astro';

const { title, date, tags, metaDesc, socialImage, breakTitle } =
  Astro.props.frontmatter;
const { postPrevious, postNext } = Astro.props;
---

<PageLayout {title} {metaDesc} {socialImage} {breakTitle}>
  <small>
    <DateDisplay {date} />
  </small>

  {
    tags.length ? (
      <ul class="tags list-inline">
        {tags.map((tag: string) => (
          <li>
            <a href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))}
      </ul>
    ) : null
  }

  <article>
    <slot />
  </article>

  <PostNavigation {postPrevious} {postNext} />
</PageLayout>

<style>
  .tags {
    font-family: monospace;
  }

  article {
    margin-block-start: var(--space-medium);
  }
</style>

<!-- styles for elements within post -->
<style is:global>
  h1 {
    margin-block-end: 0;
  }

  article :is(img, video) {
    max-width: 100%;
    height: auto;
  }

  /* break long numbers in floating point post */
  blockquote,
  p > code {
    overflow-wrap: break-word;
  }
</style>
