---
import PageLayout from './PageLayout.astro';
import DateDisplay from '@components/DateDisplay.astro';
import AdjacentPostLinks from '@components/AdjacentPostLinks.astro';

const { title, date, tags } = Astro.props.frontmatter;
const { postPrevious, postNext } = Astro.props;
---

<PageLayout {title}>
  <small>
    <DateDisplay {date} />
  </small>

  {
    tags.length ? (
      <ul class="tags list-inline">
        {tags.map((tag: string) => (
          <li>
            <a href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))}
      </ul>
    ) : null
  }

  <article>
    <slot />
  </article>

  <AdjacentPostLinks {postPrevious} {postNext} />
</PageLayout>

<style>
  :global(h1) {
    margin-block-end: 0;
  }

  .tags {
    font-family: monospace;
  }

  article {
    margin-block-start: var(--space-medium);
  }

  article :global(:is(img, video)) {
    max-width: 100%;
    height: auto;
  }
</style>
