---
import PageLayout from './PageLayout.astro';
import DateDisplay from '@components/DateDisplay.astro';
import PostNavigation from '@components/PostNavigation.astro';

const {
  frontmatter: { title, date, tags, metaDesc, socialImage },
  postPrevious,
  postNext,
} = Astro.props;
---

<PageLayout {title} {metaDesc} {socialImage}>
  <small>
    Published <DateDisplay {date} />
  </small>

  {
    tags?.length ? (
      <ul class="tags list-inline">
        {tags.map((tag: string) => (
          <li>
            <a href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))}
      </ul>
    ) : null
  }

  <article>
    <slot />
  </article>

  <PostNavigation {postPrevious} {postNext} />
</PageLayout>

<style>
  .tags {
    font-family: monospace;
  }

  article {
    margin-block-start: var(--space-medium);
  }
</style>

<!-- styles for elements within post -->
<style is:global>
  h1 {
    margin-block-end: 0;
  }

  /* prevent media elements from stretching beyond page width on small screens */
  img,
  video {
    max-width: 100%;
    height: auto;
  }

  figcaption {
    text-align: center;
    font-size: small;
  }

  /* break long numbers in floating point post */
  blockquote,
  p code {
    overflow-wrap: break-word;
  }
</style>
