---
import PageLayout from './PageLayout.astro';
import DateDisplay from '@components/DateDisplay.astro';
import PostNavigation from '@components/PostNavigation.astro';

const { title, date, tags, metaDesc, socialImage } = Astro.props.frontmatter;
const { postPrevious, postNext } = Astro.props;
---

<PageLayout {title} {metaDesc} {socialImage}>
  <small>
    Published <DateDisplay {date} />
  </small>

  {
    tags.length ? (
      <ul class="tags list-inline">
        {tags.map((tag: string) => (
          <li>
            <a href={`/tags/${tag}`}>#{tag}</a>
          </li>
        ))}
      </ul>
    ) : null
  }

  <article>
    <slot />
  </article>

  <PostNavigation {postPrevious} {postNext} />
</PageLayout>

<style>
  .tags {
    font-family: monospace;
  }

  article {
    margin-block-start: var(--space-medium);
  }
</style>

<!-- styles for elements within post -->
<style is:global>
  h1 {
    margin-block-end: 0;
  }

  /* prevent media elements from stretching beyond page width on small screens */
  img,
  video {
    max-width: 100%;
    height: auto;
  }

  /* center (more-or-less) top-level media elements */
  :is(p, li) img,
  :is(article, figure) > img,
  video,
  .twitter-tweet {
    display: block;
    margin-inline: auto;
  }

  figcaption {
    text-align: center;
    font-size: small;
  }

  /* break long numbers in floating point post */
  blockquote,
  p code {
    overflow-wrap: break-word;
  }

  p code {
    padding: 4px;
    border-radius: 2px;
    background-color: var(--color-inline-code);
  }

  article > :is(img, pre, figure),
  li > img,
  iframe {
    margin-block: var(--gap-post-media);
  }
</style>
