---
import BaseLayout from '@layouts/BaseLayout.astro';
import Header from '@components/Header.astro';
import DateDisplay from '@components/DateDisplay.astro';
import AdjacentPostLinks from '@components/AdjacentPostLinks.astro';

const { title, date, tags } = Astro.props.frontmatter;
const { postPrevious, postNext } = Astro.props;
---

<BaseLayout {title}>
  <Header />

  <!-- TODO code syntax highlighting -->
  <main tabindex="-1">
    <small>
      <DateDisplay {date} />
    </small>

    <h1>{title}</h1>

    {
      tags.length ? (
        <ul class="list-inline">
          {tags.map((tag: string) => (
            <li>
              <a href={`/tags/${tag}`}>#{tag}</a>
            </li>
          ))}
        </ul>
      ) : null
    }

    <article>
      <slot />
    </article>

    <AdjacentPostLinks {postPrevious} {postNext} />
  </main>
</BaseLayout>

<style>
  ul {
    font-family: monospace;
  }

  article {
    margin-block-start: var(--gap-section);
  }

  article :global(img) {
    max-width: 100%;
    height: auto;
  }
</style>
